{% extends 'base.html'%}

{% block title %}password reset{% endblock %}

{% block content %}

<div class="signUp-model" style="display:flex;">
	<div class="sign-content">
		<div class="close"><a href="{% url 'home' %}">+</a></div>
		<h3>Password reset sent </h3>
		<p>We have emailed you instructions for setting your password ,
			 if an account exists with the email you entered ,
			You should recieve them shortly
		</p>
		<p>If you dont recieve an email, please make sure you have entered the address you registered</p>
	</div>


</div>
<script>
	document.querySelector('.links').remove();
</script>

{% endblock %}