{% extends 'base.html'%}

{% block title %}register2{% endblock %}

{% block content %}
<h2></h2>

<div class="signUp-model" style="display:flex;">
	<div class="sign-content">
		<div class="close"><a href="{% url 'login' %}">+</a></div>
		<div class="row">
			<h4 style="text-align: center;">Enter You email so that we verify and confirm its you</h4>
			<div class="col-md-9" style="margin: 0 auto">
				
				<form method="post" action=" ">
					{% csrf_token %}
					<div class="form-group">
				
						<div class="form-group" style="padding-top:1.2em">
							<label for="email">Enter Email</label>
							{{form.email}}
						</div>
				
						<div class="form-group" style="padding-top:1.2em">
							<button type="submit" class="btn btn-primary  form-control">Submit</button>
				
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<div>
			<h2>{{form.errors}}</h2>
		
			{% for message in messages %}
			<h2>{{message}}</h2>
			{% endfor %}
		</div>
	</div>
</div>

</div>
<script>
	document.querySelector('.links').remove();
	document.querySelector('#id_email').setAttribute('class', 'form-control');
</script>

{% endblock %}